body{
  background-image: url("back.png");
  background-size: cover;
}
#pretty {
  text-align: center;
  vertical-align: middle;
  color: white;
  text-shadow: -1px -1px 0 #000;
  font-size: 36px;
}
